.border {
    border: 1px solid black;
    border-radius: px;
    margin: 15px -200px;
    width: 200px;
    box-shadow: rgb(9, 87, 233) 0px 0px 7px 0px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px; 
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;  
    line-height: 1; 
  }
  .col-md-4{
    padding: 2px;
   
  }
  
  
  .marginR {
    margin-right: 8px;
    
  }
  .container{  
    display: flex;
    flex-direction:column;
    margin-right: 10px;
    align-items: center;
    
  }
  .continents ul{
    display: flex;
    padding: 0px;
    list-style: none; 
  }
  
  .continents li{
    display: flex;
    padding: 10px; 
    border: 2px  solid #ebe7e7;
    border-radius: 5px;
    margin: 5px;
    box-shadow: rgb(9, 87, 233) 0px 0px 7px 0px;  
    margin: 6px; 
    flex: 10px; 
    max-width: 350px;
   
  }
  .barra{  
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 2px  solid #ebe7e7;  
    margin: 5px;  
    margin: 6px;   
    max-width: 350px;
    
  }