body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #e3f4ff;
  height: 100vh;
}

.container-app {
  display: flex;
  width: 100%;
}

.routes {
  flex: 1; /* Esto hará que el div ocupe todo el espacio disponible */
}

.app--container--two {
  flex: 1;
  overflow-y: auto;
}

/* Resto de estilos no cambiados */
