body {
  margin: auto;
  border: none;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  height: 100vh;
}

.app--container {
  flex: 1;
  position: relative;
  justify-content: center;
  border: none;
  background: #5f9d82;
}
